Source: capnet-assist
Section: net
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 9),
               desktop-file-utils,
               gettext,
               libgcr-3-dev,
               libglib2.0-dev (>= 2.44),
               libgranite-dev,
               libgtk-3-dev,
               libwebkit2gtk-4.0-dev,
               meson,
               valac (>= 0.28)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/capnet-assist
Vcs-Bzr: https://code.launchpad.net/capnet-assist
Vcs-Browser: http://bazaar.launchpad.net/~elementary-apps/capnet-assist/trunk/files

Package: capnet-assist
Architecture: any
Depends: network-manager, ${misc:Depends}, ${shlibs:Depends}
Description: Captive login detector
 A small WebKit app only to make a user log in when a
 captive portal is detected.

Package: capnet-assist-dbg
Architecture: any
Section: debug
Priority: extra
Depends: capnet-assist (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: capnet-assist
Description: Captive login detector (debugging symbols)
 A small WebKit app only to make a user log in when a
 captive portal is detected.
 .
 This package contains debugging symbols for capnet-assist.
